<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>add user info</title>
</head>

<body>
    <form name="addform" action="userAdd" method="post" accept-charset="utf-8" >
        <h1>Account - Add</h1>
        <div>
            <label>address：</label>
            <input type="text" name="address" placeholder="address" />
        </div>
        <div>
            <label>name：</label>
            <input type="text" name="name" placeholder="name">
        </div>
        <div>
            <label>abi：</label>
            <input type="text" name="abi" placeholder="abi">
        </div>
	<div>
	    <label>contract :</label>
	    <input type="text" name="contract" placeholder="contract address">
	</div>
        <div>
            <input type='submit' value='Submit'>
            <input type='reset' value='Reset'>
            <input type='button' value='Back' onclick="javascript: location.href='/'">
        </div>
    </form>
</body>

</html>
