<!DOCTYPE html>
<html>
<head>
  <title>Blockchain Academic Ceritification System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta http-equiv="refresh" content="5 ; url=http://localhost:3000/verified"> -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 <style type="text/css">
 	body{
 		background-color:#DCDCDC;
 	}
 	.navbar-fixed {
  	left: 10%; /* just an estimate of your sidebar's width */
  	/*width: calc(100% - 300px);*/
  	width :80%;
	}
	h1{
		position:fixed;
		top:30%;
		left:40%;
	}
	img{
		position:fixed;
		top:40%;
		left:45%;
	}
 </style>
</head>
<body>
<br>
<nav class="navbar navbar-inverse navbar-fixed">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">畢業證書驗證系統</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="https://www.csie.ntu.edu.tw/~b04902092/music.htm" target="_blank">hyperlink</a></li>
    </ul>
  </div>
</nav>
<h1>Diploma verifying...</h1>
<img src="/images/Pacman.gif">
</body>
</html>